
<!--
    Note : 

    At model List<Product> gives you whole list of data to show on this page
    when you use At model List<Product> then model m will be small case
    and when use foreach loop to iterate then Model M will be capital.

    If you want to write c sharp code inside view we use "At sign".
    You can incorporate c sharp code in view using At sign.

    <table> tag is used to create table
    <tr> tag is used to craete row (horizontal)
    <th> tag is used to craete table column heading
    <td> tag is used to craete table column values(vertical) 


-->
@model List<Product>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">

            <div class="col-6">
          
            </div>

            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Product
                </a>

            </div>


        </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Category</th>

                    <th></th>

                </tr>

            </thead>

        </table>

    </div>
</div>

@section Scripts{
    <script src = "~/js/product.js"></script>
}